@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=VT323';

.notfound{
  $light-grey: #e0e2f4;
  $grey: #aaaaaa;
  
  $base-font-size: 20px;
  $font-stack: 'VT323', monospace;
  
  main,
  h1,
  p,
  a { color: $light-grey; }
  
  main,
  p { font: normal #{$base-font-size}/1.25rem $font-stack; }
  h1 { font: normal 2.75rem/1.05em $font-stack; }

  

  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .link {
    margin-top: 20px;
    margin-left: 50%;
    text-decoration: none;
    padding: 0 9px 2px 8px;
      &:hover,
      &:focus {
      background: $grey;
      color: #FFFFFF;
    }
  }

  .title { margin-bottom: 50px; }
  
}

.allhome {
  background-color: rgba(255, 255, 240, 0.85);
  src: 'https://fonts.googleapis.com/css?family=VT323';
  font-family: 'VT323', monospace;
}

.roundpics {
  margin-left: 10px;
  margin-right: 10px;
  height:fit-content;
}

.homepageheader {
  text-align: center;
  color: #448899;
}

.homepage {
  margin-left: 10px;
  margin-right: 10px;
}

.my-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.flag {
  text-align: center;
}

.totopbutton{
  margin-left: 45%;
}